@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="ltr" lang="en">
@await Component.InvokeAsync("Head")
<body>
    <div id="main-wrapper">
        @await Component.InvokeAsync("Topbar")
        <div class="page-wrapper">
            @await Component.InvokeAsync("Breadcrumb")
            <div class="container-fluid">
                <div class="email-app">
                    @await Component.InvokeAsync("Sidebar")

                    @* Controller'dan gelen SelectedMode'u Component'a gönderiyoruz *@
                    @await Component.InvokeAsync("Main", new { mode = ViewBag.SelectedMode ?? "inbox" })
                </div>
            </div>
            @await Component.InvokeAsync("Footer")
        </div>
    </div>
</body>
</html>