<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Dashboard/Index" class="link">Home</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Breadcrumb</li>
                    </ol>                 
                </nav>
            </div>         
        </div>
        <div class="col-5 align-self-center text-right">
            @if ((ViewBag.PageTitle?.ToString() == "Profilim") || (ViewBag.PageTitle?.ToString() == "Dashboard"))
            {
                <a href="/MessageController1/Inbox" class="btn btn-sm btn-primary">
                    <i class="mdi mdi-home mr-1"></i>
                    Ana Sayfaya Dön
                </a>
            }
        </div>

    </div>
</div>