<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#" class="link">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Email</li>
                    </ol>
                </nav>
            </div>
            <h4 class="page-title">Email</h4>
        </div>
        <div class="col-5 align-self-center text-right">
            <ul class="list-inline mb-0">
                <li class="list-inline-item"><i data-feather="refresh-cw"></i></li>
                <li class="list-inline-item"><i data-feather="settings"></i></li>
            </ul>
        </div>
    </div>
</div>