@model Project2IdentityEmail.Dtos.UserEditDto

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
<form method="post" enctype="multipart/form-data">
    <input type="text" asp-for="Name" placeholder="Adınız" class="form-control" />
    <br />
     <input type="text" asp-for="Surname" placeholder="Soyadınız" class="form-control" />
      <br />
     <input type="text" asp-for="Email" placeholder="Email Adresiniz" class="form-control" />
      <br />
      <input type="text" asp-for="Password" placeholder="Şifreniz" class="form-control" />
      <br />
      <input type="file" asp-for="Image" class="form-control" placeholder="Lütfen bir resim seçiniz" />
      <br />
      <button class="btn btn-info">Değişiklikleri Kaydet</button>
    </form>
</div>