.todo-widget {
  .todo-list {
    .todo-item {
      border: 0px;
      margin-bottom: 0px;
      padding: 20px;
      color: $dark;
      border-bottom: 1px solid $border-color;
      .custom-checkbox {
        width: 100%;
        .todo-label {
          font-weight: 400;
          width: 100%;
          .delete-task {
            display: none;
            .feather {
              height: 20px;
            }
          }
        }
        .custom-control-input:checked ~ .todo-label {
          .todo-desc {
            text-decoration: line-through;
            opacity: 0.7;
          }
        }
      }
      &:hover {
        z-index: 0;
        background-color: $light;
        .custom-checkbox {
          .todo-label {
            .delete-task {
              display: block;
            }
          }
        }
      }
    }
  }
}
