@import 'pages/dashboards/dashboard1';
@import 'pages/dashboards/dashboard2';
@import 'pages/dashboards/dashboard3';
@import 'pages/dashboards/dashboard4';
@import 'pages/dashboards/dashboard5';
@import 'pages/dashboards/dashboard6';
@import 'pages/authentication/authentication';
@import 'pages/inbox/emails';
@import 'pages/gallery-usercard/gal-card';
@import 'pages/maps/google-vector';