@model Project2IdentityEmail.Dtos.LoginUserDto
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<form method="post">
    <div class="container">
        <br /><br />
        <h3>Giriş Sayfası</h3>
        <br />       
        <label>Kullanıcı Adınız</label>
        <input type="text" required asp-for="Username" class="form-control" />
        <br />      
        <label>Şifreniz</label>
        <input type="text" required asp-for="Password" class="form-control" />
        <br />   
        <button class="btn btn-info">Giriş Yap</button>
    </div>
</form>

