// Sidebar
$sidebar-link-padding: 12px 15px;
$sidebar-icon-size: 18px;
$sidebar-first-level-padding: 0 0 10px 0;
$sidebar-first-level-link-padding: 10px 15px;
$sidebar-first-level-icon-size: 14px;
/*******************
Main sidebar
******************/

.left-sidebar {
	position: absolute;
	width: $sidebar-width-full;
	height: 100%;
	top: 0px;
	z-index: 10;
	padding-top: 64px;
	background: $sidebar;
	box-shadow: $shadow;
	transition: 0.2s ease-in;
}

/*******************
sidebar navigation
******************/

.scroll-sidebar {
	height: calc(100% - 20px);
	position: relative;

	.ps-scrollbar-y-rail {
		left: 3px !important;
	}
}

.sidebar-nav {
	ul {
		.sidebar-item {
			width: 270px;
			margin-bottom: 5px;

			.sidebar-link {
				color: $sidebar-text;
				padding: $sidebar-link-padding;
				display: flex;
				white-space: nowrap;
				align-items: center;
				line-height: 25px;
				opacity: 0.5;

				.feather {
					width: $sidebar-icon-size;
					height: $sidebar-icon-size;
					color: $sidebar-icons;
				}

				&.active,
				&:hover {
					opacity: 1;
				}
			}

			&.selected {
				border-radius: 25px 0 0 25px;
				background-color: rgba(0, 0, 0, 0.1);

				.sidebar-link.active {
					border-radius: 25px 0 0 0 !important;
				}
			}

			/*******************
           First level
           ******************/
			.first-level {
				padding: $sidebar-first-level-padding;

				>.sidebar-item>.sidebar-link {

					&.active,
					&:hover {
						opacity: 1;
					}
				}

				.sidebar-item .sidebar-link {
					padding: $sidebar-first-level-link-padding;
				}
			}
		}
	}

	>#sidebarnav>.sidebar-item>.sidebar-link:hover,
	>#sidebarnav>.sidebar-item>.sidebar-link.active,
	>#sidebarnav>.sidebar-item.selected>.sidebar-link.active {
		border-radius: 60px 0 0 60px;
		background-color: rgba(0, 0, 0, 0.1);
	}
}

/*******************
 common m-p removed
******************/

.sidebar-nav {
	ul {
		margin: 0px;
		padding: 0px;

		li {
			list-style: none;
		}
	}
}

.collapse.in {
	display: block;
}

/*******************
Down arrow
******************/

.sidebar-nav .has-arrow {
	position: relative;

	&::after {
		position: absolute;
		content: '';
		width: 7px;
		height: 7px;
		border-width: 1px 0 0 1px;
		border-style: solid;
		border-color: $sidebar-text;
		margin-left: 10px;
		-webkit-transform: rotate(135deg) translate(0, -50%);
		-ms-transform: rotate(135deg) translate(0, -50%);
		-o-transform: rotate(135deg) translate(0, -50%);
		transform: rotate(135deg) translate(0, -50%);
		-webkit-transform-origin: top;
		-ms-transform-origin: top;
		-o-transform-origin: top;
		transform-origin: top;
		top: 22px;
		right: 15px;
		-webkit-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}
}

/*.sidebar-nav .active > .has-arrow::after,*/

/*.sidebar-nav li.selected > .has-arrow::after,*/

.sidebar-nav li.active>.has-arrow::after,
.sidebar-nav li>.has-arrow.active::after,
.sidebar-nav .has-arrow[aria-expanded='true']::after {
	-webkit-transform: rotate(-135deg) translate(0, -50%);
	-ms-transform: rotate(-135deg) translate(0, -50%);
	-o-transform: rotate(-135deg) translate(0, -50%);
	transform: rotate(-135deg) translate(0, -50%);
}

.create-btn {
	background: linear-gradient(90deg,
		rgba(254, 90, 217, 1) 0%,
		rgba(191, 129, 255, 1) 100%);
	border: none;
	border-radius: 60px 0 0 60px;
	margin-bottom: 30px;
	padding: 12px 15px;
	white-space: nowrap;
}